body {
  font-size: 15px;
  background-color: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
header {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style-type: none;
  float: left;
}
.appHeader {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  height: 52px;
  border-bottom: 1px solid #e6e6e6;
}
.title {
  float: left;
  display: block;
  width: 64px;
  height: 30px;
  color: blue;
  font-size: 25px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.banner {
  float: left;
  padding: 0px 15px;
}
.banner li {
  padding: 14px 15px;
  color: #8590a6;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}
.banner li :hover {
  color: #444;
}
.banner .current {
  color: #121212;
  font-weight: bold;
}
.input {
  float: left;
  width: 300px;
  height: 32px;
  background-color: #f6f6f6;
  padding-left: 16px;
  border-radius: 999px;
  margin-top: 10px;
}
.input i {
  font-size: 15px;
  color: #8590a6;
}
.input .search {
  margin-top: 8px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  background-color: #f6f6f6;
}
.input button {
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  border: none;
}
.question {
  float: left;
  color: #fff;
  background-color: #056de8;
  font-size: 14px;
  border-radius: 999px;
  margin-left: 12px;
  margin-top: 10px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  padding: 5px 14px;
}
.user {
  float: left;
  position: relative;
  width: 270px;
}
.user .user-news {
  float: left;
  margin-top: 10px;
  margin-left: 45px;
}
.user .user-news span {
  cursor: pointer;
  display: block;
  color: #8590a6;
  font-size: 12px;
}
.user .user-message {
  margin-top: 10px;
  padding-left: 15px;
  float: left;
}
.user .user-message span {
  cursor: pointer;
  display: block;
  color: #8590a6;
  font-size: 12px;
}
.user .user-head {
  cursor: pointer;
  float: left;
  position: absolute;
  top: 8px;
  right: 65px;
}
.content {
  position: absolute;
  top: 50px;
  left: 5%;
  background-color: white;
  margin-top: 10px;
  margin-left: 40px;
}
.main {
  width: 694px;
  float: left;
  border: 1px solid #e6e6e6;
  height: 100%;
}
.main .main-tabs {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.main .main-tabs li {
  display: block;
  margin: 20px 20px;
  font-size: 15px;
}
.main .main-tabs .current1 {
  color: #056de8;
}
.main-content {
  float: left;
}
.main-content .page {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.main-content .page .page-title {
  font-size: 16px;
  color: #121212;
  font-weight: bold;
}
.main-content .page .page-content {
  line-height: 25px;
  font-size: 14px;
}
.main-content .page .page-content button {
  cursor: pointer;
  border: none;
  color: #056de8;
}
.main-content .page .page-content span {
  color: #056de8;
  cursor: pointer;
  font-size: 15px;
}
.main-content .page .page-tabs {
  position: relative;
  height: 40px;
  margin: 10px 20px;
}
.main-content .page .page-tabs div {
  float: left;
}
.main-content .page .page-tabs button {
  border: none;
}
.main-content .page .page-tabs .agree {
  padding: 4px 12px;
  background: rgba(5, 109, 232, 0.1);
  color: #056de8;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}
.main-content .page .page-tabs .disagree {
  margin-left: 2px;
  background: rgba(5, 109, 232, 0.1);
  color: #056de8;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
}
.main-content .page .page-tabs .comment {
  margin-left: 24px;
  font-size: 14px;
  color: #8590a6;
  cursor: pointer;
}
.main-content .page .page-tabs .share,
.main-content .page .page-tabs .store,
.main-content .page .page-tabs .love,
.main-content .page .page-tabs .more {
  margin-left: 24px;
  font-size: 14px;
  color: #8590a6;
  cursor: pointer;
}
.right-tab {
  position: absolute;
  top: 0px;
  left: 700px;
  background: white;
  overflow: hidden;
}
.right-tab .creator {
  width: 274px;
  border: 1px solid #e6e6e6;
  padding: 16px 15px 10px;
}
.right-tab .creator .hang1 {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-tab .creator .hang1 .draft {
  margin-left: 130px;
  color: #8590a6;
}
.right-tab .creator .hang2 {
  display: flex;
  justify-content: space-around;
}
.right-tab .creator .hang2 .but {
  border: none;
  width: 55px;
}
.right-tab .creator .hang2 .but .item1 {
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  border-radius: 15px;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: yellow;
}
.right-tab .creator .hang2 .but .item2 {
  margin-left: 5px;
  float: left;
  font-size: 11px;
}
.right-tab .creator .hang3 {
  display: flex;
  justify-content: space-between;
  background: rgba(133, 144, 166, 0.1);
  margin: 10px;
}
.right-tab .creator .hang3 .item3 .item31 {
  margin: 10px;
  font-size: 14px;
}
.right-tab .creator .hang3 .item3 .item32 {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #999999;
}
.right-tab .creator .hang3 .item2 {
  margin: 10px;
}
.right-tab .creator .hang4 {
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 250px;
  height: 40px;
  border: 1px solid rgba(5, 109, 232, 0.5);
  color: #056de8;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}
.right-tab .recommend {
  margin-top: 10px;
  width: 274px;
  border: 1px solid #e6e6e6;
  padding: 16px 15px 10px;
}
.right-tab .recommend .re-item1 {
  box-sizing: border-box;
  margin: 0px 0px 23px;
  min-width: 0px;
  -webkit-box-align: center;
  align-items: center;
  color: #444444;
  font-weight: 500;
  font-size: 14px;
}
.right-tab .recommend .re-user {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}
.right-tab .recommend .re-user .re-word {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.right-tab .recommend .re-user .re-word .re-item2 {
  width: 100px;
  font-size: 13px;
  font-weight: normal;
}
.right-tab .recommend .re-user .re-word .re-item3 {
  width: 100px;
  box-sizing: border-box;
  margin-left: 5px;
  min-width: 0px;
  font-size: 12px;
  color: #999999;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.right-tab .recommend .re-user .re-word .re-item4 {
  font-size: 12px;
  color: #056de8;
  margin-top: 5px;
}
.right-tab .recommend .re-bottom {
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
  color: #8590a6;
}
.right-tab .labs {
  margin-top: 10px;
  width: 306px;
  border: 1px solid #e6e6e6;
}
.right-tab .labs .labs-item1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.right-tab .labs .labs-item1 li {
  margin: 20px;
  width: 60px;
}
.right-tab .labs .labs-item1 span:nth-child(1) {
  display: block;
  font-size: 20px;
}
.right-tab .labs .labs-item1 span:nth-child(2) {
  display: block;
  color: #8590a6;
  font-size: 15px;
}
.right-tab .labs .labs-item1 li:nth-child(1) {
  color: #ffcf00;
}
.right-tab .labs .labs-item1 li:nth-child(2) {
  color: #43d480;
}
.right-tab .labs .labs-item1 li:nth-child(3) {
  color: #0066ff;
}
.right-tab .labs .labs-item1 li:nth-child(4) {
  color: #0f88eb;
}
.right-tab .labs .labs-item1 li:nth-child(5) {
  color: #5478f0;
}
.right-tab .labs .labs-item1 li:nth-child(6) {
  color: #5868d1;
}
.right-tab .center {
  margin-top: 10px;
  width: 274px;
  border: 1px solid #e6e6e6;
  padding: 16px 15px 10px;
  height: 320px;
}
.right-tab .center ul {
  display: flex;
  flex-wrap: wrap;
}
.right-tab .center ul li {
  width: 270px;
  display: block;
  color: #8590a6;
  margin: 10px 0px;
}
.right-tab .explain {
  margin-top: 10px;
  width: 274px;
  padding: 16px 15px 10px;
  font-size: 13px;
  line-height: 2;
  color: #8590a6;
}
