* {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
body {
  background-color: #f6f6f6;
}
.wr-header {
  z-index: 999;
  position: fixed;
  top: 0;
  height: 51px;
  width: 100%;
  min-width: 1200px;
  background-color: pink;
  line-height: 51px;
  display: flex;
  justify-content: flex-start;
}
.wr-header a {
  font-size: 30px;
  color: dodgerblue;
  margin-left: 80px;
}
.wr-header .title {
  font-weight: bold;
  margin-left: 20px;
  border-left: 1px solid #e6e6e6;
  padding-left: 20px;
}
.content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: white;
  width: 840px;
  margin: auto;
}
.content .wr-input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}
.content .wr-input input {
  font-size: 24px;
  height: 45px;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}
.content .wr-input textarea {
  font-size: 15px;
  height: 498px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
.content .wr-load {
  height: 368px;
}
.content .wr-load .load-item1 {
  position: relative;
  text-align: center;
  line-height: 200px;
  height: 200px;
  width: 200px;
  margin-top: 30px;
  margin-left: 100px;
  border: 1px dashed #e6e6e6;
  cursor: pointer;
  color: #8590a6;
}
.content .wr-load .load-item1 button {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  position: absolute;
}
.content .wr-load .load-item1 button:nth-child(2) {
  top: 80%;
  left: 30%;
}
.content .wr-load .load-item1 button:nth-child(3) {
  top: 80%;
  left: 50%;
}
.content .wr-load .load-item1:hover button {
  display: block;
}
.content .wr-load img {
  width: 200px;
  height: 200px;
}
