@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wojcgm');
  src:  url('fonts/icomoon.eot?wojcgm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wojcgm') format('truetype'),
    url('fonts/icomoon.woff?wojcgm') format('woff'),
    url('fonts/icomoon.svg?wojcgm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-book:before {
  content: "\e91f";
}
.icon-cog:before {
  content: "\e994";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-wechat:before {
  content: "\e901";
  color: #7bb32e;
}
.icon-credit-card:before {
  content: "\e900";
}
.icon-star:before {
  content: "\f005";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-comment:before {
  content: "\f075";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-plus-square-o:before {
  content: "\f196";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wpforms:before {
  content: "\f298";
}
